.categories-wrapper {
	padding: 40px;
	padding-top: 80px;
	margin-bottom: 40px;
	background: #fff;
	min-height: 718px;
}

.title {
	text-align: center;
}

.card-box {
	width: 100%;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.type-card {
	height: 60px;
	min-width: 100px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	background: #f5f7f9;
	margin: 10px;
	cursor: pointer;
}

.type-card a {
	display: block;
	padding: 10px;
	transition: none;
}

.type-card:hover {
	color: #fff;
	background-image: linear-gradient(168deg,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6);
}