.background {
	background: #f5f7f9;
	padding-left: calc(100vw - 100%);
    min-height: 100vh;
    position: relative;
    padding-top: 3px;
}

@media screen and (max-width: 1200px) {
	.background {
		padding-left: 0;
	}
}

.line {
	height: 3px;
	width: 100%;
	top: 0;
    left: 0;
    position: absolute;
	background: linear-gradient(to right, #18232f,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6,#34495e);
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.wrapper:after {
	content: '';
	display: table;
	clear: both;
}

@media screen and (max-width: 1200px) {
	.wrapper {
		width: 100%;
	}

	.line {
		background: linear-gradient(to right,#e74c3c,#f0ad4e,#1abc9c,#5bc0de);
	}
}



.nav {
	float: left;
	width: 300px;
	box-sizing: border-box;
	position: relative;
}


@media screen and (max-width: 1200px) {
	.nav {
		float: none;
		width: 100%;
	}
}

.visiting-card {
	width: 100%;
	height: 148px;
	color: #fff;
	background: linear-gradient(170deg,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.visiting-card h1 {
	color: #fff;
}

.main {
	overflow: hidden;
	width: 860px;
	margin-left: 340px;
	box-sizing: border-box;
	position: relative;
}

.bar-icon {
	display: none;
	font-size: 25px;
	color: #fff;
	position: absolute;
	top: 108px;
	right: 20px;
	cursor: pointer;
}

.mood-icon {
	display: none;
	font-size: 25px;
	color: #fff;
	position: absolute;
	top: 108px;
	left: 20px;
	cursor: pointer;
}

.item-box {
	height: 200px;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 1200px) {
	.main {
		width: 100%;
		margin-left: 0;
	}

	.item-box {
		display: none;
	}

	.mood {
		display: none;
	}

	.bar-icon {
		display: block;
	}

	.bar-icon:global.active~:local(.item-box) {
		display: flex;
	}

	.mood-icon {
		display: block;
	}

	.mood-icon:global.active~:local(.mood) {
		display: block;
	}
}

.item-box li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;
	position: relative;
}
.item-box li a {
	display: block;
	padding-left: 20px;
	text-decoration: none;
}
.item-box li:hover {
	background: #f5f7f9;
}
.item-box li:global.active {
	background: #f5f7f9;
}
.item-box li:global.active :local(.active-dot) {
	display: inline-block;
}
.active-dot {
	display: none;
	position: absolute;
	right: 20px;
	top: 45%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.dot1 {
	background: #e74c3c;
}
.dot2 {
	background: #f0ad4e;
}
.dot3 {
	background: #1abc9c;
}
.dot4 {
	background: #5bc0de;
}
