.nav {
	height: 80px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: linear-gradient(135deg, #18232f,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6,#34495e);
}

.nav button {
    border: 0;
    background: #565656;
    color: #fff;
    font-size: 16px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    cursor: pointer;
}

.del-btn {
    border: 0;
    background: transparent;
    color: #e74c3c;
    outline: none;
    cursor: pointer;
}

.table-wrapper {
    width: 90%;
    margin: 0 auto;
}

.new-wrapper {
    width: 300px;
    margin: 20px auto 0;
}

.new-wrapper p {
    margin: 10px;
    text-align: center;
}

.upload-ipt {
    display: inline-block;
    width: 80px;
    height: 22px;
    line-height: 22px;
    background: #565656;
    color: #fff;
    text-align: center;
}

.file-warning {
    color: #e74c3c;
    margin-left: 10px;
}

.publish-btn {
    border: 0;
    background: #565656;
    color: #fff;
    width: 80px;
    height: 22px;
    line-height: 22px;
    outline: none;
}

.mood-wrapper {
    width: 400px;
    height: 400px;
    margin: 20px auto 0;
}

.mood-wrapper textarea {
    width: 100%;
    height: 300px;
    resize: none;
    outline: none;
}

.mood-wrapper button {
    display: block;
    width: 80px;
    height: 22px;
    background: #565656;
    color: #fff;
    line-height: 22px;
    margin: 0 auto;
    border: 0;
    outline: none;
}