.card {
	position: relative;
	margin-top: 20px;
	overflow: hidden;
	padding-bottom: 1px;
}

.title {
	font-size: 26px;
	cursor: pointer;
}

.msg {
	display: flex;
	align-items: center;
	color: #999;
	padding-top: 10px;
	padding-bottom: 5px;
}

/*.title:hover,
.title:hover~.msg {
	background: #f5f7f9;
}*/

.msg-gap {
	width: 1px;
	height: 15px;
	background: #999;
	margin: 0 10px;
}

.tags {
	background: #999;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 16px;
    height: 18px;
    color: #fff;
    position: relative;
}

.tag-triangle {
	display: inline-block;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-right-color: #999;
	position: absolute;
	left: -18px;
}
.tags:after {
	content: '';
	width: 5px;
	height: 5px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 1px;
}

.bottom {
	width: 100%;
	height: 1px;
	margin: 0 auto 5px;
	background: linear-gradient(to right, #18232f,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6,#34495e);
	position: absolute;
	left: -100%;
	transition: all .3s ease;
}

.title:hover~.bottom {
	left: 0;
}