.wrapper {
	display: inline-flex;
	position: relative;
	align-items: center;
	margin-top: 100px;
}

@media screen and (max-width: 1200px) {
	.wrapper {
		display: flex;
		justify-content: center;
	}
}

.top-line {
	position: absolute;
	margin-top: -15px;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,.1);
}

.wrapper button {
	min-width: 30px;
	min-height: 30px;
	border-width: 0;
    background: none;
    font-size: 16px;
    margin: 0 10px;
    outline: none;
    cursor: pointer;
}

.wrapper button:hover {
	border-width: 1px;
	border-image: linear-gradient(135deg,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6) 1 0 0 0;
}

.wrapper button:global.active {
	color: #fff;
	border-radius: 10px 0;
	border-width: 1px;
	border-image: linear-gradient(135deg,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6) 1;
	background: linear-gradient(135deg,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6);
}

.icon {
	font-size: 16px;
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
}

.icon:hover {
    border-image: linear-gradient(135deg,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6) 1 0 0 0;
}