.box {
	position: absolute;
	width: 300px;
	height: 168px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -84px;
	background: #fff;
}

.title {
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	background: linear-gradient(135deg, #18232f,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6,#34495e);
}

.ipt-box {
	padding: 10px;
	height: 128px;
	border: 1px solid transparent;
	border-top-width: 0;
    border-image: linear-gradient(135deg, #18232f,#e74c3c,#f0ad4e,#1abc9c,#5bc0de,#9b59b6,#34495e) 0 1 1 1;
}

.ipt-item {
	display: flex;
    margin: 0 auto 10px;
    border: 1px solid #ababab;
    width: 200px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.ipt-item i {
	font-size: 18px;
	margin-left: 8px;
	color: #717171;
}
.ipt-item input {
	outline: none;
	padding-left: 10px;
	font-size: 14px;
	width: 100%;
	border: 0;
}

.btn-box {
	margin: 0 auto;
	width: 160px;
}

.btn {
	background: #717171;
	color: #fff;
	border: 0;
	width: 60px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
	outline: none;
}

.cancel-btn {
	background: #fff;
	color: #717171;
	margin-left: 40px;
	border: 1px solid #717171;
}